
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.topnav {
    position: fixed;
    top: 0;
    background-color: #3f51b5;
    width: 100%;
  }
  
  .mis_b {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #d3d3d3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .mis_a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .mis_a:hover{
    color: white;
    text-decoration: none;
  }
  .mis_b:hover{
    color: white;
    text-decoration: none;
  }
  