/*===========Navbar===================*/
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }

  body {
  
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
   
  }
  
  .separator {
    margin: 1rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }

  .alert-danger{
    text-decoration: none;
  }
  .Errors_div{
    padding: 20px;
  }

 


